@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after { box-sizing: border-box; }

body {
  font-family: 'Space Grotesk', sans-serif;
  background: #001219;
  color: #F3E0A8;
  -webkit-font-smoothing: antialiased;
}
